<div class="manu-bar__container">
    <div class="menu-bar__logo">
        <img 
        src="assets/ps-logo.png" 
        alt="Playstation logo"
        srcset=""
        width="140px"
        height="32px"
        >
    </div>
    <div class="manu-bar__item">
        <ul>
            <li><a href="https://linkedin.com/in/viniciuscordeiro01" target="_blank" >LIKEDIN</a></li>
            <li><a href="https://vinicius-cordeiro.netlify.app/" target="_blank" >PORTIFÓLIO</a></li>
            <li><a href="https://github.com/ViniCordeiro1" target="_blank" >GITHUB</a></li>
        </ul>
    </div>
</div>